.circle{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 10px;

}

.circle-2{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 10px;
	z-index: -100;
}

.circle:hover{
	opacity: 0;
}

.square1{

	width: 60px;
	height: 80px;
	background-color: #ffffff;
	
	position: absolute;
	top: 140px;
	left:80px;
}

.square{

	width: 60px;
	height: 60px;
	background-color: #ffffff;
	margin-top: -150px;
	margin-left: 70px;
	position: absolute;
	top: 210px;
}

.circleB{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 10px;
	left:220px;

}
.circle-B{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 10px;
	left:220px;
	z-index: -100;
}

.circleB:hover{
	opacity: 0;
}

/*.squareB1{

	width: 100px;
	height: 200px;
	background-color: #C8DE81;
	position: absolute;
	top: 10px;
	left:220px;
	z-index: -110;
}*/

.squareB2{

	width: 60px;
	height: 60px;
	background-color: #ffffff;
	position: absolute;
	top: 40px;
	left:300px;
}

.squareB3{

	width: 60px;
	height: 60px;
	background-color: #ffffff;
	position: absolute;
	top: 110px;
	left:300px;
}

.circleC{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 10px;
	left:430px;

}
.circle-C{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 10px;
	left:430px;
	z-index: -100;
}

.circleC:hover{
	opacity: 0;
}

.squareC1{

	width: 100px;
	height: 100px;
	background-color: #ffffff;
	position: absolute;
	top: 60px;
	left:530px;
}

.circleD{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 10px;
	left:640px;

}
.circle-D{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 10px;
	left:640px;
	z-index: -100;
}

.circleD:hover{
	opacity: 0;
}

/*.squareD1{

	width: 100px;
	height: 200px;
	background-color: #C8DE81;
	position: absolute;
	top: 10px;
	left:640px;
	z-index: -110;
}*/

.squareD2{

	width: 80px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 50px;
	left:720px;
}

.circleE{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 10px;
	left:850px;

}
.circle-E{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 10px;
	left:850px;
	z-index: -100;
}

.circleE:hover{
	opacity: 0;
}

.squareE1{

	width: 80px;
	height: 30px;
	background-color: #ffffff;
	position: absolute;
	top: 60px;
	left:970px;
}

.squareE2{

	width: 80px;
	height: 30px;
	background-color: #ffffff;
	position: absolute;
	top: 110px;
	left:970px;
}

.circleF{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 10px;
	left:1060px;

}
.circle-F{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 10px;
	left:1060px;
	z-index: -100;
}

.circleF:hover{
	opacity: 0;
}

.squareF1{

	width: 80px;
	height: 30px;
	background-color: #ffffff;
	position: absolute;
	top: 60px;
	left:1180px;
}

.squareF2{

	width: 80px;
	height: 100px;
	background-color: #ffffff;
	position: absolute;
	top: 110px;
	left:1180px;
}
.ball{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #EA907D;
	opacity: 1;
	position: absolute;
	top: 10px;
	left:1270px;

}

.circleG{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 220px;
	left:10px;

}
.circle-G{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 220px;
	left:10px;
	z-index: -100;
}

.circleG:hover{
	opacity: 0;
}

.squareG1{

	width: 100px;
	height: 30px;
	background-color: #ffffff;
	position: absolute;
	top: 250px;
	left:110px;
}

.squareG2{

	width: 30px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 250px;
	left:110px;
}

.squareG3{

	width: 60px;
	height: 30px;
	background-color: #ffffff;
	position: absolute;
	top: 300px;
	left:110px;
}
.ball2{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #EA907D;
	opacity: 1;
	position: absolute;
	top: 220px;
	left:220px;
}

.circleH{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 220px;
	left:430px;

}

.circle-H{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 220px;
	left:430px;
	z-index: -100;
}

.circleH:hover{
	opacity: 0;
}

.squareH1{

	width: 60px;
	height: 60px;
	background-color: #ffffff;
	
	position: absolute;
	top: 210px;
	left:500px;
}

.squareH2{

	width: 60px;
	height: 80px;
	background-color: #ffffff;
	
	position: absolute;
	top: 340px;
	left:500px;
}

.circleI{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 220px;
	left:640px;

}

.circle-I{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 220px;
	left:640px;
	z-index: -100;
}

.circleI:hover{
	opacity: 0;
}

.squareI1{

	width: 80px;
	height: 60px;
	background-color: #ffffff;
	
	position: absolute;
	top: 280px;
	left:630px;
}

.squareI2{

	width: 80px;
	height: 60px;
	background-color: #ffffff;
	
	position: absolute;
	top: 280px;
	left:770px;
}

.ball3{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #EA907D;
	opacity: 1;
	position: absolute;
	top: 220px;
	left:850px;
}

.circleJ{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 220px;
	left:1060px;

}
.circle-J{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 220px;
	left:1060px;
	z-index: -100;
}

.circleJ:hover{
	opacity: 0;
}

.squareJ1{

	width: 80px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 250px;
	left:1060px;
}

.circleK{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 220px;
	left:1270px;

}
.circle-K{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 220px;
	left:1270px;
	z-index: -100;
}

.circleK:hover{
	opacity: 0;
}

.squareK1{

	width: 30px;
	height: 60px;
	background-color: #ffffff;
	position: absolute;
	top: 220px;
	left:1360px;
}
.squareK2{

	width: 30px;
	height: 90px;
	background-color: #ffffff;
	position: absolute;
	top: 340px;
	left:1360px;
}
.squareK3{

	width: 70px;
	height: 30px;
	background-color: #ffffff;
	position: absolute;
	top: 295px;
	left:1410px;
}

.circleL{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 430px;
	left:10px;

}
.circle-L{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 430px;
	left:10px;
	z-index: -100;
}

.circleL:hover{
	opacity: 0;
}

.squareL1{

	width: 100px;
	height: 140px;
	background-color: #ffffff;
	position: absolute;
	top: 430px;
	left:110px;
}

.circleM{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 430px;
	left:220px;

}
.circle-M{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 430px;
	left:220px;
	z-index: -100;
}

.circleM:hover{
	opacity: 0;
}

.squareM1{

	width: 30px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 550px;
	left:275px;
}
.squareM2{

	width: 30px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 550px;
	left:345px;
}
.ball4{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #EA907D;
	opacity: 1;
	position: absolute;
	top: 430px;
	left:430px;
}

.circleN{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 430px;
	left:640px;

}
.circle-N{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 430px;
	left:640px;
	z-index: -100;
}

.circleN:hover{
	opacity: 0;
}

.squareN1{

	width: 30px;
	height: 100px;
	background-color: #ffffff;
	position: absolute;
	top: 530px;
	left:690px;
}
.squareN2{

	width: 30px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 430px;
	left:760px;
}

.circleO{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 430px;
	left:850px;

}
.circle-O{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 430px;
	left:850px;
	z-index: -100;
}

.circleO:hover{
	opacity: 0;
}

.squareO1{

	width: 80px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 485px;
	left:910px;
}

.circleP{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 430px;
	left:1060px;

}
.circle-P{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 430px;
	left:1060px;
	z-index: -100;
}

.circleP:hover{
	opacity: 0;
}

.squareP1{
	width: 60px;
	height: 60px;
	background-color: #ffffff;
	position: absolute;
	top: 480px;
	left:1150px;
}
.squareP2{
	width: 30px;
	height: 110px;
	background-color: #ffffff;
	position: absolute;
	top: 515px;
	left: 1090px;
}

.circleQ{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 430px;
	left:1270px;

}
.circle-Q{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 430px;
	left:1270px;
	z-index: -100;
}

.circleQ:hover{
	opacity: 0;
}

.squareQ1{
	width: 40px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 480px;
	left:1320px;
}
.squareQ2{
	width: 80px;
	height: 40px;
	background-color: #ffffff;
	position: absolute;
	top: 480px;
	left: 1320px;
}
/*.squareQ3{
	width: 50px;
	height: 50px;
	background-color: #C8DE91;
	position: absolute;
	top: 580px;
	left: 1420px;
	z-index: -110;
}*/

.ball5{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #EA907D;
	opacity: 1;
	position: absolute;
	top: 640px;
	left:10px;
}

.circleR{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 640px;
	left:220px;

}
.circle-R{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 640px;
	left:220px;
	z-index: -100;
}

.circleR:hover{
	opacity: 0;
}

.squareR1{
	width: 60px;
	height: 60px;
	background-color: #ffffff;
	position: absolute;
	top: 680px;
	left:310px;
}
.squareR2{
	width: 60px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 760px;
	left: 310px;
}
.squareR3{
	width: 30px;
	height: 20px;
	background-color: #ffffff;
	position: absolute;
	top: 740px;
	left: 390px;
}

.circleS{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 640px;
	left:430px;

}
.circle-S{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 640px;
	left:430px;
	z-index: -100;
}

.circleS:hover{
	opacity: 0;
}

.squareS1{
	width: 80px;
	height: 30px;
	background-color: #ffffff;
	position: absolute;
	top: 680px;
	left:560px;
}
.squareS2{
	width: 80px;
	height: 50px;
	background-color: #ffffff;
	position: absolute;
	top: 740px;
	left: 430px;
}
.ball6{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #EA907D;
	opacity: 1;
	position: absolute;
	top: 640px;
	left:640px;
}

.circleT{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 640px;
	left:850px;

}
.circle-T{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 640px;
	left:850px;
	z-index: -100;
}

.circleT:hover{
	opacity: 0;
}

.squareT1{
	width: 80px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 760px;
	left:850px;
}
.squareT2{
	width: 80px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 760px;
	left: 970px;
}

.ball7{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #EA907D;
	opacity: 1;
	position: absolute;
	top: 640px;
	left:1060px;
}

.circleU{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 640px;
	left:1270px;

}
.circle-U{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 640px;
	left:1270px;
	z-index: -100;
}

.circleU:hover{
	opacity: 0;
}

.squareU1{
	width: 40px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 640px;
	left:1350px;
}
.circleV{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 850px;
	left:10px;

}
.circle-V{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 850px;
	left:10px;
	z-index: -100;
}

.circleV:hover{
	opacity: 0;
}

.squareV1{
	width: 40px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 850px;
	left:90px;
}
.squareV2{
	width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 90px solid white;
	position: absolute;
	top: 950px;
	left:-50px;
}
.squareV3{
	width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 90px solid white;
	position: absolute;
	top: 950px;
	left:150px;
}

.circleW{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 850px;
	left:220px;

}
.circle-W{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 850px;
	left:220px;
	z-index: -100;
}

.circleW:hover{
	opacity: 0;
}

.squareW1{
	width: 30px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 850px;
	left:260px;
}
.squareW2{
	width: 30px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 850px;
	left:350px;
}
.squareW3{
	width: 30px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 980px;
	left:305px;
}
.ball8{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #EA907D;
	opacity: 1;
	position: absolute;
	top: 850px;
	left:430px;
}

.circleX{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 850px;
	left:640px;

}
.circle-X{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 850px;
	left:640px;
	z-index: -100;
}

.circleX:hover{
	opacity: 0;
}

.squareX1{
	width: 60px;
	height: 30px;
	background-color: #ffffff;
	position: absolute;
	top: 930px;
	left:640px;
}
.squareX2{
	width: 60px;
	height: 30px;
	background-color: #ffffff;
	position: absolute;
	top: 930px;
	left:780px;
}
.squareX3{
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	position: absolute;
	top: 850px;
	left:715px;
}
.squareX4{
	width: 50px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 980px;
	left:715px;
}


.circleY{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 850px;
	left:850px;

}
.circle-Y{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 850px;
	left:850px;
	z-index: -100;
}

.circleY:hover{
	opacity: 0;
}

.squareY1{
	width: 80px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 970px;
	left:850px;
}
.squareY2{
	width: 80px;
	height: 80px;
	background-color: #ffffff;
	position: absolute;
	top: 970px;
	left: 970px;
}
.squareY3{
	width: 40px;
	height: 60px;
	background-color: #ffffff;
	position: absolute;
	top: 850px;
	left: 930px;
}

.circleZ{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 0%);
	opacity: 1;
	transition: opacity 3s;
	z-index: 100;
	position: absolute;
	top: 850px;
	left:1060px;

}
.circle-Z{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: radial-gradient(white 0, #C8DE91 100%);
	position: absolute;
	top: 850px;
	left:1060px;
	z-index: -100;
}

.circleZ:hover{
	opacity: 0;
}

.squareZ1{
	width: 80px;
	height: 30px;
	background-color: #ffffff;
	position: absolute;
	top: 900px;
	left:1060px;
}
.squareZ2{
	width: 80px;
	height: 50px;
	background-color: #ffffff;
	position: absolute;
	top: 960px;
	left: 1180px;
}

.ball9{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #EA907D;
	opacity: 1;
	position: absolute;
	top: 850px;
	left:1270px;
}