body{

	font-size: 20px;
	background-color: #4151A9;
}

.triangle-up:hover {
  width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #356fff;
	/*position: fixed;*/
	top:0px;
	display: inline-block;

	-webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;



}


@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    40% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    40% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    40% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    40% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}



.triangle-up2:hover {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #356fff;
	/*position: fixed;*/
	top:0px;
	left:250px;
	display: inline-block; 
	-webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;

    transition: color 2s ease-out;
}

.triangle-down1:hover {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 50px solid #356fff;
	/*position: fixed;*/
	top:0px;
	left:130px;
   	display: inline-block;
   	-webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;

    transition: color 2s ease-out;
}

.triangle-down3:hover {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 50px solid #356fff;
	top:0px;
	left:290px;
   	display: inline-block;
   	-webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;

    transition: color 2s ease-out;
}


.triangle-up1:hover {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #ff80cc;
	/*position: fixed; */
	top:0px;
	left:130px;
	display: inline-block;
	-webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;

    transition: color 2s ease-out;
}

.triangle-up3:hover {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #ff80cc;
	/*position: fixed;*/
	top:0px;
	left:190px;
	display: inline-block;
	-webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;

    transition: color 2s ease-out;
}


.triangle-down:hover {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 50px solid #ff80cc;
	/*position: fixed;*/
	top:0px;
	left:0px;
   	display: inline-block;
   	-webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;

    transition: color 2s ease-out;
}


.triangle-down2:hover {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 50px solid #ff80cc;
	/*position: fixed;*/
	top:0px;
	left:250px;
   	display: inline-block;
   	-webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;

    transition: color 2s ease-out;
}

#all{
	position: relative;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;

}

#container{
	position: relative;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#container1{
	position: relative;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#container2{
	position: relative;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	left: 60px;
}

#container3{
	position: relative;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	left: -60px;
}



.triangle-up {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #ffffff;
	/*position: fixed;*/
	top:0px;
	display: inline-block;
	transition: all 5s ease-out;

}
.triangle-up1 {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #4151A9;
	/*position: fixed; */
	top:0px;
	left:130px;
	display: inline-block;
	transition: all 5s ease-out;
}
.triangle-up2 {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #ffffff;
	/*position: fixed;*/
	top:0px;
	left:250px;
	display: inline-block;
	transition: all 5s ease-out;
}


.triangle-up3 {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #4151A9;
	/*position: fixed;*/
	top:0px;
	left:190px;
	display: inline-block;
	transition: all 5s ease-out;
}


.triangle-down {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 50px solid #4151A9;
	/*position: fixed;*/
	top:0px;
	left:0px;
   	display: inline-block;
   	transition: all 5s ease-out;
}

.triangle-down1 {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 50px solid #ffffff;
	/*position: fixed;*/
	top:0px;
	left:130px;
   	display: inline-block;
   	transition: all 5s ease-out;
}
.triangle-down2 {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 50px solid #4151A9;
	/*position: fixed;*/
	top:0px;
	left:250px;
   	display: inline-block;
   	transition: all 5s ease-out;

}

.triangle-down3 {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 50px solid #ffffff;
	top:0px;
	left:290px;
   	display: inline-block;
   	transition: all 5s ease-out;
}




}