body{
	background-color: #000000;
	font-size: 20px;
}

#all{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;

}
.container{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin:50px;

}

.oval{

  	height: 50px;
 	width: 100px;
 	background-color: #ffffff;
 	border-radius: 50%;
 	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  	animation-duration: 10s;
}

.oval2{
	height: 50px;
 	width: 25px;
 	background-color: #5a5b5b;
 	border-radius: 50%;
 	margin-left: -60px;
 	-webkit-animation-name: example1; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  	animation-duration: 10s;

}

.oval:hover{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 50px;
 	width: 100px;
 	background-color: #000000;
 	border-radius: 50%;
}

.oval2:hover{
	height: 50px;
 	width: 25px;
 	background-color: #cc363e;
 	border-radius: 50%;
 	margin-left: -60px;
}

@-webkit-keyframes example {
  0%   {background-color: #000000;}
  25%  {background-color: #ffffff;}
  50%  {background-color: #000000;}
  75%  {background-color: #ffffff;}
  100% {background-color: #000000;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color: #000000;}
  25%  {background-color: #ffffff;}
  50%  {background-color: #000000;}
  75%  {background-color: #ffffff;}
  100% {background-color: #000000;}
}


@-webkit-keyframes example1 {
  0%   {background-color: #000000;}
  20%  {background-color: #5a5b5b;}
  40%  {background-color: #000000;}
  60%  {background-color: #cc363e;}
  80%  {background-color: #000000;}
  90%  {background-color: #56a571;}
  100%  {background-color: #000000;}
  
}

/* Standard syntax */
@keyframes example1 {
  0%   {background-color: #000000;}
  20%  {background-color: #5a5b5b;}
  30%  {background-color: #000000;}
  60%  {background-color: #cc363e;}
  80%  {background-color: #000000;}
  90%  {background-color: #56a571;} 
  100% {background-color: #000000;}
}